@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* NavBar With BG and Hello */
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 30px 0;
  font-family: "ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar.puppy {
  padding: 10px 0;
  background: #e0c0f9;
}

.navbar.puppy .menu li a:hover {
  color: rgb(253, 255, 164);
  font-weight: 500;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #3f4879;
  font-size: 38px;
  font-weight: 600;
}

.navbar .logo a span {
  color: #7850a3;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #3f4879;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #fff;
}

.scroll-up-btn {
  position: fixed;
  font-size: 26px;
  height: 45px;
  width: 42px;
  background: #e0c0f9;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #3f4879;
  z-index: 9999;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn:hover a {
  color: #fff;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.home {
  display: flex;
  background: url("pic_1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #111;
  min-height: 500px;
  font-family: "ubuntu", sans-serif;
}

/* .home .max-width{
    margin-right: 630px;
    margin-block: 125px;
} */

.home .home-content .text-1 {
  font-size: 30px;
}

.home .home-content .text-2 {
  font-size: 55px;
  font-weight: 600;
}

.home .home-content .text-3 {
  font-size: 45px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: #6d5d58;
}

.icon {
  color: #3f4879;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.home .home-content a {
  display: inline-block;
  background: #3f4879;
  color: #94bfe2;
  font-size: 20px;
  padding: 7px 17px;
  margin-top: 17px;
  border-radius: 6px;
  border: 2px solid #3f4879;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: #3f4879;
  background: none;
}

@media (max-width: 990px) {
  body.scrolloff {
    overflow: hidden;
  }

  .max-width {
    padding: 0 50px;
  }

  .icon {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: #94bfe2;
    padding-top: 80px;
    text-align: center;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .navbar .menu li a:hover {
    color: rgb(253, 255, 164);
  }

  .home .home-content .text-1 {
    font-size: 18px;
  }

  .home .home-content .text-2 {
    font-size: 40px;
    font-weight: 600;
  }

  .home .home-content .text-3 {
    font-size: 30px;
    margin: 5px 0;
  }

  .home .home-content a {
    font-size: 18px;
    padding: 5px 15px;
    margin-top: 15px;
  }
}

/* NavBar With BG and Hello END */

/* same style in all commen */
.about,
.services,
.skills,
.projects {
  font-family: "Poppins", sans-serif;
  padding: 50px;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  font-size: 15px;
  color: #7850a3;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}

.about .about-content,
.services .serv-content,
.skills .skills-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .about,
  .services,
  .skills,
  .projects {
    padding: 10px;
  }
}

/* same style in all commen END*/

/* About start */
section {
  padding: 30px 0;
}

.about .title::after {
  content: "who i am";
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Cinzel", sans-serif;
}

.about .about-content .right .text span {
  color: #4da1c5;
}

.about .about-content .right p {
  text-align: justify;
}

@media (max-width: 1085px) {
  .about .about-content .column {
    width: 50%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
    justify-content: center;
  }

  .about .about-content .left img {
    height: 300px;
    width: 300px;
  }
}

/* About start END*/
/* Services START  */
.services {
  background: url("pic_5.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.services .title::after {
  color: #fff;
  background: #5c98fa;
  content: "what i provide";
}

.services .serv-content .card {
  width: calc(33% - 20px);
  background: #556cbc;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.services .serv-content .card:hover {
  background: #b5c2f465;
}

.services .serv-content .card.box {
  transition: all 0.5s ease;
}

.services .serv-content .card .box:hover {
  transform: scale(1.05);
}

.services .serv-content .card i {
  font-size: 50px;
  color: #c5ea94;
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 7px 0;
  color: #212a50;
  cursor: pointer;
}

@media (max-width: 990px) {
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 25px;
  }
}

@media (max-width: 800px) {
  .services .serv-content .card {
    width: 100%;
    margin-bottom: 25px;
  }

  .services .title {
    padding-bottom: 29px;
  }
}

/* Services END  */

/* Skills part START */
.skills {
  background: url("pic_6.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.skills .title::after {
  content: "what i know";
}

.skills .skills-content .column {
  width: 45%;
}

.skills .skills-content .left .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .left p {
  text-align: justify;
}

.skills .skills-content .left a {
  display: inline-block;
  background: #ac749d;
  color: #462f3f;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 2px solid #ac749d;
  transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
  color: #3f4879;
  background: none;
}

.skills .skills-content .right {
  background: #57a9d8ee;
  text-align: center;
  border-radius: 4px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.skills .skills-content .right:hover {
  background: transparent;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}

.skills .skills-content .right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 6px;
}
.skills .skills-content .right .info span {
  color: #3f4879;
}

.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: #e2bed8;
  position: relative;
  border-radius: 6px 6px;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #ac749d;
}

.skills .skills-content .right .html::before {
  width: 90%;
}

.skills .skills-content .right .css::before {
  width: 70%;
}

.skills .skills-content .right .js::before {
  width: 80%;
}

.skills .skills-content .right .sql::before {
  width: 80%;
}

.skills .skills-content .right .phy::before {
  width: 50%;
}
/* .skills .skills-content .right .rea::before {
  width: 50%;
} */

@media (max-width: 970px) {
  .skills .skills-content .column {
    width: 100%;
  }

  .skills .skills-content .left {
    padding-bottom: 30px;
  }
}

/* Skills part END */

/* PROJECT START */
.projects {
  background: url("hey.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.projects .title::after {
  content: "My work";
  color: #fa6d1a;
}

.projects .carousel .carousel-cell {
  background: #f8b94dea;
  border-radius: 6px;
  padding: 35px 35px;
  margin-left: 30px;
  text-align: center;
}

.projects .carousel .carousel-cell .text {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
  font-family: "Cinzel", sans-serif;
  color: #532d22;
}

/* footer start */
.footer {
  background: url("cow.png") no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.footerone {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer_col {
  width: 25%;
  padding: 0 15px;
}

.footer_col h4 {
  font-size: 18px;
  font-weight: 500;
  color: #ffe5b7;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}

.footer_col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fa6d1a;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer_col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer_col ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer_col ul li a:hover {
  color: #ffff;
  padding-left: 8px;
}

.footer_col .social_link a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer_col .social_link a:hover {
  color: #82451f;
  background-color: #ffffff;
}

.footer_col .emailme {
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 0;
}

.border {
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  border-radius: 3px;
  text-transform: capitalize;
  margin-bottom: 7px;
  padding: 5px;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.footer_col .emailme button {
  width: 70px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.footer_col .emailme button:hover {
  color: #24262b;
  background-color: #ffff;
}

span {
  color: #ffffff;
}

.footerone h1 {
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
  margin-bottom: 66px;
}

.footerone h1::before {
  content: "";
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -10px;
  background-color: #fa6d1a;
  height: 2px;
  box-sizing: border-box;
  width: 150px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.76);
  padding-left: 10px;
  font-size: 12px;
}

/* responsive */
@media (max-width: 767px) {
  .footer_col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer_col {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .footer {
    padding: 10px;
  }
}
/* END PART */
.end {
  font-family: "Ubuntu", sans-serif;
  background: #111;
  padding: 17px 20px;
  text-align: center;
}

.end span {
  color: #999;
}
@media (max-width: 674px) {
  .end {
    padding: 12px 15px;
  }
}
